@page "/"
@using Client.Components.Service
@using DTOs
@rendermode InteractiveServer
@inject IJobService HttpJobService

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet"> @*for search submit button icon*@
<PageTitle>Jobs</PageTitle>

<h1>Hello, There!</h1>

See the job list.

@*Search*@ 
<div class="d-flex justify-content-center align-items-center pt-5 mb-4">
    <input @bind="SearchQuery" type="text" placeholder="Search.." name="search" class="form-control me-2" style="font-size: 18px; width: 500px; height: 50px;" />
    <button @onclick="SearchJobs" type="submit" class="btn btn-primary" style="font-size: 18px; height: 50px;">
        <i class="fa fa-search"></i>
    </button>
</div>

@if (!string.IsNullOrEmpty(error))
   {
       <div class="alert alert-danger">@error</div>
   }
else if (jobs == null)
{
    <p>Loading...</p>
}else
{ 
    <div class="d-grid gap-3">
        @foreach (var job in searchedJobs) //bu satırda jobs vardı searched jobs yapdım
        {
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h3 class="card-title">@job.Title</h3>
                        <p class="card-text">@job.Description</p>
                        <ul class="list-styled">
                            <li><strong>Salary:</strong> $@job.Salary</li>
                            <li><strong>Employment Type:</strong> @job.Type</li>
                            <li><strong>Application Deadline:</strong> @job.Deadline</li>
                            <li><strong>Location:</strong> @job.Location</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <p>Needed in @job.Location</p>
                    </div>
                </div>
            </div>
        }
    </div>
}

@code {
    private List<JobDto>? jobs;
    private string? error;
    private string SearchQuery = string.Empty;
    private List<JobDto>? searchedJobs;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            jobs = await HttpJobService.GetAllJobsAsync();
            searchedJobs = await HttpJobService.SearchJobsAsync(""); 
        }
        catch (Exception e)
        {
            error = $"An error occurred while loading jobs: {e.Message}";
        }
    }

    private async Task SearchJobs()
    {
        try
        {
            if (string.IsNullOrWhiteSpace(SearchQuery))
            {
                searchedJobs = jobs.ToList(); // Eğer arama sorgusu boşsa, tüm jobsu göster
            }
            else
            {
                searchedJobs = await HttpJobService.SearchJobsAsync(SearchQuery);
            }
        }
        catch (Exception e)
        {
            error = $"An error occurred while searching jobs: {e.Message}";
        }
    }

}